<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <connectionStrings>
    <!--Dev-->
    <add name="MsSqlRepository" providerName="System.Data.SqlClient" connectionString="uNlGX/HGxVpgYWtaSHxGXYif4wPT9Ill6AC5Idf2tSPrIaGYJLiwlAsbz+iKkjwU4N7pYQu5/NtvK7k/zyNIif9d+QSmvPYqNC+Z0C7TcH0="/>
  </connectionStrings>
</configuration>
