<link href="~/Styles/About.css" rel="stylesheet" />
<h2 class="caption">ABOUT US</h2>
<div class="aboutRegion">
  <span class="caption">WHAT WE'RE ABOUT</span>
  <section>
    <p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit, nibh ut egestas lobortis, risus nibh ornare purus, in gravida risus massa sed lectus. Integer tempus semper mollis. Sed scelerisque arcu ipsum, a tincidunt sapien facilisis a. Proin interdum semper placerat. Vestibulum tristique imperdiet mi quis dictum. Cras efficitur lectus nisl, eu commodo est blandit vel. Cras vitae sem a tellus vehicula congue.
    </p>
  </section>
  <section class="bio" id="warrenBio">
    <span class="caption">ABOUT WARREN</span>
    <div class="bioText">
      <p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porttitor ullamcorper sapien feugiat fermentum. Curabitur vitae facilisis turpis, vitae fringilla massa. Mauris finibus in felis sit amet sollicitudin. Nullam gravida congue arcu, eget commodo leo. Cras luctus, risus nec cursus tincidunt, nisl leo pellentesque nibh, nec sagittis est arcu sed augue. Donec non ligula sit amet risus semper iaculis. Nunc luctus augue non neque sollicitudin, eget consectetur ipsum malesuada. Nulla ultrices, metus non viverra sollicitudin, orci sapien facilisis turpis, id egestas ex magna eget tortor. Mauris facilisis placerat luctus. Mauris et dolor odio. Donec et vulputate dui. Morbi convallis nec felis nec fermentum.
      </p>
    </div>
  </section>
  <section class="bio" id="jeremyBio">
    <span class="caption">ABOUT JOHN</span>
    <div class="bioText">
      <p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia ante in nulla condimentum, vel eleifend magna ullamcorper. Donec nec neque ut leo mattis tristique. Nulla quis placerat risus. Mauris sed ante iaculis, interdum erat nec, pellentesque ligula. Nullam imperdiet libero a eros viverra egestas ac vel turpis. Aliquam varius felis vitae dolor vestibulum, quis consectetur justo molestie. Sed cursus aliquet massa, nec tristique urna posuere ut. Suspendisse potenti. Duis sodales ipsum pulvinar massa suscipit varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor mauris lacus, placerat porta neque pharetra vel. Suspendisse potenti. Maecenas sagittis id justo eu convallis. Integer in lectus vel nunc condimentum bibendum. Cras non elit congue, rutrum orci sed, blandit leo.
      </p>
    </div>
  </section>
</div>